extends partials/boilerplate

block content
  .ui.main.text.container.segment
    .ui.huge.header New Post
    form(class="ui form", action="/blogs", method="post")
      .field
        label Title
        input(type="text", name="blog[title]", placeholder="title")
      .field
        label Image
        input(type="text", name="blog[image]", placeholder="image")
      .field
        label Blog Post
        textarea(name="blog[body]", cols="30", rows="10")
      input(class="ui violet big basic button", type="submit")